.songs {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.song {
    position: relative;
    color: #444444;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333333;
}

.song:hover {
    background: #444444;
    color: white;
}

.song-name {
    width: 30%;
    color: white;
}

.song-artist {
    width: 30%;
    color: white;
}

.song-artist:hover {
    text-decoration: underline;
}

.song-album {
    width: 30%;
    color: white;
}

.song-album:hover {
    text-decoration: underline;
}

.song-duration {
    width: 10%;
    color: white;
}

.song-button {
    width: 20px;
    height: auto;
    cursor: pointer;
    padding-right: 20px;
}

.song-dropdown {
    position: absolute;
    background: #222222;
    border-radius: 10px;
    padding: 10px;
    min-height: 150px;
    right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.song-option {
    padding: 10px;
}

.song-option:hover {
    background: #444444;
    cursor: pointer;
}

.liked-songs {
    height: 100%;
    overflow-y: scroll;
}

.playlist-show {
    width: 150px;
    position: absolute;
    left: -100px;
    bottom: 0px;
    background: #222222;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.playlist-show p {
    padding: 10px;
}

.playlist-show p:hover {
    background: #444444;
    cursor: pointer;
}