.songs {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song {
    color: #111111;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song:hover {
    background: #333333;
    color: white;
}

.song-name {
    width: 45%;
    color: white;
}

.song-artist {
    width: 40%;
    color: white;
}

.song-duration {
    width: 10%;
    color: white;
}

.song-button {
    width: 20px;
    height: auto;
    cursor: pointer;
    padding-right: 20px;
}