.nav {
    background: #111111;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-links a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #999999;
}

.nav-links a:hover {
    color: white;
}

.nav-links a svg {
    width: 20px;
    height: auto;
    padding: 20px;
}

.nav-links h4 {
    width: 100%;
    text-align: center;
    color: #aaaaaa;
    padding: 20px 0 10px 0;
    font-weight: 300;
    font-size: 12px;
}