.nav {
    background: #111111;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #999999;
}

.nav a:hover {
    color: white;
}

.nav a svg {
    width: 20px;
    height: auto;
    padding: 20px;
}

.nav h4 {
    width: 100%;
    text-align: center;
    color: #aaaaaa;
    padding: 20px 0 10px 0;
    font-weight: 300;
    font-size: 12px;
}

.plink {
    justify-content: center;
}

.active {
    border-left: 2px solid lime;
}