.nav {
    background: black;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
}

.nav-links a {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: #666666;
}

.nav-links a:hover {
    color: white;
}

.nav-links a svg {
    width: 20px;
    height: auto;
    padding: 20px;
}

.nav-links h3 {
    width: 100%;
    text-align: center;
    color: #aaaaaa;
}