* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --green: #1DB954;
    --hovergreen: #1ED760;
}

a {
    color: white;
    text-decoration: none;
}

button {
    outline: none;
}

input:focus {
    outline: none;
}