.content {
    background: #1d1d1d;
    overflow: hidden;
}

.content-header {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
    background: linear-gradient(180deg, #444444, #1d1d1d);
}

.header-img {
    height: 250px;
    width: 250px;
}

.header-img img {
    height: 100%;
    max-width: 100%;
}   

.content-info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content-info h2{
    color: white;
    font-size: 50px;
}

.content-info h4 {
    color: #666666;
    font-size: 16px;
}

.content-buttons {
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.content-play  {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background: #1DB954;
    color: white;
    cursor: pointer;
}

.content-play:hover {
    background: #1ED760;
}

.content-delete {
    background: transparent;
    padding-left: 20px;
}

.content-delete svg {
    background: transparent;
    height: 30px;
    width: auto;
    color: white;
    cursor: pointer;
}

.artist-cover {
    border-radius: 50%;
}