.playlist {
    width: 100%;
    height: 100%;
    color: white;
}

.playlists {
    width: 100%;
}

.playlist-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-link {
    padding: 10px;
    color: #666666;
}

.playlist-link:hover {
    color: white;
}

.new-playlist {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-playlist input {
    padding: 20px;
    margin: 20px;
}

.new-playlist button {
    border: 0;
    background-color: limegreen;
    padding: 20px;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}

.new-playlist button:hover {
    background-color: lime;
}