.playlist {
    width: 100%;
    height: 100%;
    color: white;
    overflow-y: scroll;
}

.playlists {
    width: 100%;
}

.playlist-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-link {
    padding: 10px;
    color: #666666;
}

.playlist-link:hover {
    color: white;
}

.new-playlist {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-playlist form {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    padding: 20px;
    background: #333333;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
        "header header"
        "img form"
        "footer footer";
}

.new-playlist-header {
    grid-area: header;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-playlist-img {
    grid-area: img;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.new-playlist-img img {
    height: 100%;
    max-width: 100%;
    width: auto;
}

.new-playlist-img label {
    height: 100%;
    width: 100%;
    background: #666666;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-playlist-img input {
    display: none;
}

.new-playlist-img svg {
    height: 40%;
    width: auto;
}

.new-playlist-form {
    grid-area: form;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.new-playlist-form label {
    color: #aaaaaa;
    font-size: 14px;
}

.new-playlist-form input {
    width: 90%;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
}


.new-playlist-footer {
    grid-area: footer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-submit-button {
    border: 0;
    background-color: var(--green);
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
}

.playlist-submit-button:hover {
    background-color: var(--hovergreen);
}