.home {
    position: relative;
    height: 100%;
    width: 100%;
}

.recommended {
    overflow-y: scroll;
}

.recommended h2 {
    color: white;
    width: 100%;
    padding: 40px 0 10px 10px;
    font-size: 30px;
    font-weight: 300;
    border-bottom: 1px solid #333;
}

.album-cover {
    width: 100px;
    height: auto;
}