.home {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.recommended h2 {
    color: white;
    width: 100%;
    padding: 40px 0 10px 10px;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid #333;
}

.recommended-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

.album-card {
    width: 250px;
    height: 350px;
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
}

.album-card img {
    width: 250px;
    height: 250px;
}

.album-card a {
    padding: 10px 10px 0 10px;
}

.album-card a:hover {
    text-decoration: underline;
}