.user {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    background: #111111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-dropdown {
    position: absolute;
    top: 30px;
    height: 200px;
    width: 150px;
    border-radius: 20px;
    background: #111111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.user-dropdown a {
    font-size: 14px;
}

.user-dropdown button {
    color: white;
    background: transparent;
    font-size: 14px;
}