.spotlofi {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.spotlofi a {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.spotlofi a svg {
    width: 60px;
    height: auto;
}

.spotlofi a div {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
}

/* .spotlofi {
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
    cursor: pointer;
  }
  
  .spotlofi:hover {
    color: #1ed760;
  } */