.landing {
    height: 100vh;
    width: 100vw;
    background: #333333;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 10vh;
    grid-template-areas: 
        "nav content"
        "player player";
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.player {
    grid-area: player;
}