@media screen and (max-width: 500px) {
    .main {
        height: 100vh;
        width: 100vw;
        background: #333333;
        display: flex;
        flex-direction: column;
    }

    .nav {
        height: 0;
        width: 0;
    }

    .content {
        height: 80%;
        width: 100%;
    }

    .player {
        height: 20%;
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .main {
        height: 100vh;
        width: 100vw;
        background: #333333;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto 200px 15%;
        grid-template-areas: 
            "nav content"
            "cover content"
            "player player";
    }
    
    .nav {
        grid-area: nav;
    }
    
    .content {
        grid-area: content;
    }
    
    .player {
        grid-area: player;
    }

    .cover {
        grid-area: cover;
    }
}

.landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash {
    position: absolute;
    height: 95%;
    width: 100%;
    background-color: #F037A5;
    background: linear-gradient(#F037A5 -60%, #FAE62D 140%) no-repeat;
    overflow: hidden;
    top: 0;
}

.bubbles {
    background: url(https://www.scdn.co/i/home/hero-burst.svg) no-repeat;
    height: 200%;
    width: 150%;
    background-position: top -410px center;
}

.splash-content {
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-content h1 {
    font-size: 80px;
    font-weight: 900;
}

.splash-content h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 30px;
}

.splash-content button {
    min-width: 150px;
    border-radius: 500px;
    padding: 16px 48px 16px;
    color: white;
    background: #1DB954;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 1;
}

.splash-content button:hover {
    background: #1ED760;
}

.credits {
    height: 25%;
    width: 100%;
    position: absolute;
    top: 95%;
    background: black;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.credits svg {
    height: 50px;
    width: auto;
    color: white;
    padding: 20px;
}

.credits p{
    color: white;
    height: 20px;
}