.player {
    background: #222222;
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
        "info controls volume"
        "info duration volume";
}

.info {
    grid-area: info;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

.info p {
    display: flex;
    color: white;
    overflow: hidden;
}

.info a {
    color: #cccccc;
}

.info a:hover {
    text-decoration: underline;
}

.controls {
    grid-area: controls;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    grid-area: volume;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume input {
    width: 60%;
}

.duration {
    grid-area: duration;
    width: 100%;
    padding-bottom: 10px;
    color: #cccccc;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.duration input {
    width: 60%;
    margin: 5px;
}

.controls-svg {
    height: 20px;
    width: auto;
    padding: 10px;
    color: #cccccc;
}

.controls-svg:hover {
    color: white;
}

.play-button {
    height: 40px;
    width: auto;
    padding: 10px;
    color: #cccccc;
}

.play-button:hover {
    color: white;
}

.toggle-button {
    height: 20px;
    width: auto;
    padding: 10px;
    color: limegreen;
}